
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');


* {
    padding: 0;
    margin: 0;
    
    
}

body {
    background-color: rgb(236, 236, 235);
    color: white;
    height: 100vh;
}

header {
    background-color: white;
    width: 80%;
    float: right;
    box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.089);
    margin-bottom: 50px;
    
}


header h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding: 26px;
    text-align: center;
    color: rgb(16, 121, 226);
}


strong {
    color:#017a4e;
}

article {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color:rgb(16, 121, 226);
    
    width: 20%;
    height: 200vh;
   
}

.foto {
    width: 100px;
}
.lista {
    list-style: none;
}


.container_perfil {
    
    width: 50%;
    text-align: center;

    padding-bottom: 28px;
    margin-top: 10em;
    margin-bottom: 60px;

    border-bottom: 3px solid white;
    
}



.container_perfil h1 {

    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    padding-bottom: 15px;
    
}


.container_perfil i {

    padding-right: 5px;
}

.container_perfil img {
    width: 100px;
    border-radius: 70px;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.089);
}

.container_perfil p {
   margin-top: 10px;
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
   font-weight: bold;
}



.container_lista {
    
    font-size: 19px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}


.icon_lista {
    width: 26px;
    text-align: center;
    padding-right:20px;
}

.icon_lista i {
    
    padding-bottom:23px;
}


.nome_lista p {
    padding-bottom:17px;
    font-family: 'Open Sans', sans-serif;
}

.nome_lista :first-child, .icon_lista :first-child {
    color: rgb(34, 34, 34);
  }

  .nome_lista :hover  {
    cursor: pointer;
    text-decoration: underline ;
  }


  .grafico {
    

    background-color: white;

    width: 50%;
    float: right;
    color: black;
    margin-right: 13%;
    padding: 30px;
    border-radius: 20px;

    margin-bottom: 30px;
}

.grafico h1 {
    
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    margin-bottom: 20px;
}


.grafico i {
    
    background-color: #05c981;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 20px;
    text-align: center;
    margin-right: 15px;
    
    
}




#graficoDolar {
    
    padding: 0px;
    margin-bottom: 40px;
    width: 50px;
}

.dolar {
    list-style:inside;
}

.dolar li {
    padding: 10px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}


#grafico2 h1 i{
    background-color: #e9cd18;

}


#graficoEuro {
    margin-bottom: 40px;
}

div > h1 {
    

    width: 80%;
    float: right;
    color: black;

    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    
    margin: 40px 0px;
    text-align: center;

    color: rgb(18, 95, 172);
    
}



@media screen and (min-width: 320px) and (max-width: 450px) {

    article {
        display: none;
    }

    header {
        width: 100vw;
        height: 60px;
    }

    header h1 {
        font-size: 15px;
        padding: 10px 30px;
    }

    .grafico {
        width: 200px;
        margin-right: 9.5%;
    }

    .grafico h1 {
    font-size: 13px;
    }

    .grafico i {
        font-size: 13px;
        padding: 6px;
        border-radius: 6px;
        margin-right: 5px;
    }

    .dolar li {
        padding: 6px;
        font-size: 13px;
        
    }

    div > h1 {
    
        width: 100%;
        
    }
}